/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7fd;
  color: #000000;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 20px;
  margin-bottom: 50px;
  background: #008dff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 10px 10px 0px rgba(34, 60, 80, 0.2);
}

.title {
  text-align: center;
  color: #00172a;
}

.title span {
  color: #fff;
}

/* book catalog list */
.book-list {
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.book-item {
  position: relative;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 40px 10px #223c5033;
  cursor: grab;
}

.book-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 40px 20px #223c5033;
}

.book-item:hover .book-btn-cart {
  opacity: 1;
}

.book-image {
  width: 222px;
  height: 290px;
  border-radius: 0 5px 0 0 ;
}

.book-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  height: 1.2em;
  white-space: nowrap;
}

.book-author {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  height: 1.2em;
  white-space: nowrap;
}

.book-price {
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 500;
  background-color: #008dff;
  color: #fff;
  border-radius: 5px;
}

.book-btn-cart {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  background: #008dff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.book-btn-cart:hover {
  background-color: #00cd98;
}

.book-btn {
  padding: 5px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: #00cd98;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.book-btn:hover {
  opacity: .7;
}


/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.549);
  z-index: 8;
}

.modal-inner {
  padding: 25px;
  padding-top: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  height: 350px;
  background: #ffffff;
  border-radius: 20px;
  animation: fade-in-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modal-top {
  padding: 20px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.modal-title {
  font-size: 25px;
  color: #008dff;
}

.description {
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.5;
  border-left: 3px solid #008dff;
  text-align: justify;
}

.close-btn {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 35px;
  background-color: #dc3545;
  color: #fff;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}

.close-btn:hover {
  opacity: .7;
}


/* CART */
.cart {
  padding-right: 5px;
  position: fixed;
  top: 0;
  right: -430px;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-shadow: -15px 0px 37px 0px rgba(34, 60, 80, 0.274);
  z-index: 10;
}

.cart-wrap {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.cart-wrap span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -15px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
}

.cart-btn {
  font-size: 50px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  color: #fff;
  transition: all .2s ease-in-out;
}

.cart-btn:hover {
  opacity: 0.9;
}

.cart-close {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  color: #0000007d;
  transition: all 0.2s ease-in-out;
}

.cart-close:hover {
  color: #000;
}

.cart-list {
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #00000023;
  border-bottom: 1px solid #00000023;
}

.cart-item {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #00000023;
  border-bottom: 1px solid #00000023;
  animation: slide-in-right 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cart-item-image {
  width: 50px;
}

.cart-item-info {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 60%;
}

.cart-item-title {
  font-size: 12px;
}

.cart-item-author {
  font-size: 12px;
  font-style: italic;
}

.cart-item-price {
  font-weight: 600;
  color: #008dff;
}

.cart-item-remove {
  position: absolute;
  right: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 38px;
  color: #fff;
  background-color: #dc3545;
  border-radius: 5px;
  border: none;
  transition: all .1s ease-in-out;
}

.cart-item-remove:hover {
  opacity: .8;
}

.cart-bottom {
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.cart-order-btn {
  padding: 10px  15px;
  background-color: #008dff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.cart-order-btn:hover {
  background-color: #00cd98;
}


/* Footer */
.footer {
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  background-color: #008dff;
  color: #fff;
}